{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as util %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} a cat a day {% endblock %}
{% block content %}
{{util.flashed_messages(dismissible=True)}}

  <div class="container">
  <div class="row">
   <div class="col-md-7 col-md-offset-2">
    <div class="jumbotron">
      <h1>a cat a day</h1>
      <hr>
      <p>Hi, this is flask app updates itself daily with new cat pictures. A cat a day, and heres todays :D </p>
      <p>
        <img src = "../static/catpic.jpg" alt="cute cat">
      </p>
    </div></div></div>
{% endblock %}
{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

